* {
  font-family: "Tajawal";
}

a {
  text-decoration: none;
}

:root {
  --primary1: #354259;
  --primary2: #CDC2AE;
  --primary3: #ECE5C7;
  --primary4: #C2DED1;
  --primary5: #2D5C7F;
  --primary6: #D5848C;
  --primary7: #184C7A;
  --primary8: #BD2939;
  --primary9: #E3E8EF;
  --primary10: #2c698d;
}

.hide {
  display: none;
}

.btn-input {
  background-color: var(--primary9);
  opacity: 70%;
  /* color :red; */
  color: var(--primary7);
  font-weight: bold;
  margin: 5px;
}

.title {
  background-color: var(--primary9);
}

.title h3 {
  color: var(--primary8);
  /* color:red; */
  font-size: 25px;
}

.head {
  color: var(--primary10);
  font-size: 20px;
}

/* #contractNo{
margin-bottom: 20px;
max-width: 50%;
margin-left:25%;
align-self: center;
justify-content: center;
} */
.nav-link.active {
  color: var(--primar10) !important;
  background-color: var(--primary9) !important;
}

/* #contractNo::before{
content:"ContractNo.";
font-size:140px;
top:100px;
left:100px;
color:#BD2939;

} */

.active {
  background-color: #e3e8ef;
  border-radius: 5px;
}

.image {
  max-width: 400px;
}

.print-logo {
  width: 20%;
  right: 0;
  top: 0;
  position: relative;
}

@media print {

  html,
  body {
    align-items: center;
    /* margin: 0; */
    padding: 0;
    background: #FFF;
    font-size: 10pt;
  }

  .container,
  .container div {
    align-items: center;
    width: 100%;
    /* margin: 0; */
    padding: 0;
  }

  .template {
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  .no-print {
    display: none;
  }

  .table>:not(caption)>*>* {
    padding: 0;
  }
}

.form-floating>label {
  left: unset !important;
  right: 0;
  padding-right: 2px;
  margin-right: 4px;
}

.sendToMonday {
  color: #184C7A;
  transition: 0.3s;
}

.sendToMonday:hover {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}

.titleButton {
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

.dev-button {
  color: #184C7A !important;
}
